@{
    ViewBag.Title = "Không được phép truy cập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <p>
        Bạn chưa đăng nhập hoặc tài khoản chưa được xác minh . Người quản trị sẽ sớm duyệt hoặc liên hệ tổng đài : 0888845631 vào trường hợp khẩn cấp
    </p>
</body>






