
@{
    ViewBag.Title = "KNThanhcong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <p class="aaaa">
        Đã gửi khiếu nại
    </p>
</body>

<style>
    .aaaa {
        font-size: 65px;
        color: red;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 600px;
    }
</style>